* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

video {
    position: absolute;
    height: 100%;
    min-width: 100%;
    min-height: 56.25vw;
}

.list {
    text-align: center;
    font-size: 20px;
    width: 50%;
    height: 50%;
    background-color: white;
    overflow-y: scroll;
    border-radius: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 2;
}

.list::-webkit-scrollbar {
    display: none;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    z-index: 2;
}

.list ul {
    list-style: none;
}
